#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

# user local
PATH_add "$HOME/.local/bin"

# asdf
PATH_add "$ASDF_DATA_DIR/shims"

# For repo-local tasks
PATH_add "$PWD/.tasks"

# Pre-commit skipping:
# export SKIP=""
