[submodule "layers/spacemacs-char-utility"]
	path = layers/spacemacs-char-utility
	url = https://github.com/jgrey4296/spacemacs-char-utility.git
[submodule "layers/jg-spacemacs-main-layer"]
	path = layers/jg-spacemacs-main-layer
	url = https://github.com/jgrey4296/jg-spacemacs-main-layer.git
[submodule "layers/jg-spacemacs-misc-layer"]
	path = layers/jg-spacemacs-misc-layer
	url = https://github.com/jgrey4296/jg-spacemacs-misc-layer.git
[submodule "layers/jg-spacemacs-org"]
	path = layers/jg-spacemacs-org
	url = https://github.com/jgrey4296/jg-spacemacs-org.git
[submodule "layers/jg-spacemacs-twitter"]
	path = layers/jg-spacemacs-twitter
	url = https://github.com/jgrey4296/jg-spacemacs-twitter.git
[submodule "layers/jg-logic-layer"]
	path = layers/jg-logic-layer
	url = https://github.com/jgrey4296/jg-logic-layer.git
[submodule "layers/jg-music-layer"]
	path = layers/jg-music-layer
	url = https://github.com/jgrey4296/jg-music-layer.git
