*.secret
*__password_template
.projectile-cmds
ac-comphist.dat
auto-save-list/
backups/
dcim_whitelist
elpa/
log.*
tw_acct.index
tw_tag.index
/modules/editor/projects/doom-projects.el
/modules/emacs/doom-ui.el
/.temp
