# .tool-versions
# https://asdf-vm.com/manage/configuration.html#tool-versions
# https://mise.jdx.dev/dev-tools/
cargo-show-asm  0.2.52
cocq            4.14.1
direnv          2.37.1
dotnet          9.0.305
elixir          1.18.4-otp-26
erlang          28.0.2
git-cliff       2.4.0
isort           6.0.1
ktlint          1.7.1
mdbook          0.4.48
ocaml           5.3.0
opam            2.4.1
pandoc          3.8
sdkman          5.18.2
swiprolog       9.2.9
towncrier       25.8.0
uv              0.8.15
version-manager 3.0.0
yt-dlp          2025.09.26
pre-commit      4.3.0
plantuml        1.2025.8
texlive         2025
soar            9.6.4
