[user]
	name	= John Grey
	email	= johngrey4296@gmail.com
	github	= jgrey4296
[push]
	default = matching
[credential]
	helper = cache
[core]
	excludesfile = ~/.gitignore_global
[init]
	templateDir = ~/.doom.d/templates/git
