% (Public domain.)
% This texmf.cnf file should contain only your personal changes from the
% original texmf.cnf (for example, as chosen in the installer).
%
% That is, if you need to make changes to texmf.cnf, put your custom
% settings in this file, which is .../texlive/YYYY/texmf.cnf, rather than
% the distributed file (which is .../texlive/YYYY/texmf-dist/web2c/texmf.cnf).
% And include *only* your changed values, not a copy of the whole thing!
%
TEXMFHOME = $HOME/Library/texmf
TEXMFVAR = $HOME/Library/texlive/2021basic/texmf-var
TEXMFCONFIG = $HOME/Library/texlive/2021basic/texmf-config
% TEXMFOUTPUT = $HOME/.tex/
TEXINPUTS = $HOME/github/__configs/modules/domain-specific/bibtex/

% output files TEXMFOUTPUT
% input files TEXINPUTS
% images format files TEXFORMATS
% TEX pool files TEXPOOL
% encoding files ENCFONTS
% font map files TEXFONTMAPS
% tfm files TFMFONTS
% virtual fonts VFFONTS
% Type 1 fonts T1FONTS
% TrueType fonts TTFONTS
% OpenType fonts OPENTYPEFONTS
% bitmap fonts PKFONTS
