# Standard packages to install
astroid
attrs
boltons
cattrs
dill
humanfriendly
iniconfig
isort
lsprotocol
mccabe
more-itertools
networkx
nodeenv
packaging
pip
platformdirs
pluggy
pygls
pylint
pyright
pytest
pyparsing
pytest-mock
ruff
ruff-lsp
setuptools
sh
stackprinter
sty
tomlkit
tqdm
typeguard
typing_extensions
wheel
sphinx
toolz
