# Manifest Command Reference
# https://docs.python.org/3/distutils/commandref.html#sdist-cmd
# include pat1 pat2 ...
# exclude pat1 pat2 ...
# recursive-include dir pat1 pat2 ...
# recursive-exclude dir pat1 pat2 ...
# global-include pat1 pat2 ...
# global-exclude pat1 pat2 ...
# prune dir
# graft dir
