.content-meta {
    text-align          : center;
    margin              : 5px;
}

.content-header {
    background: var(--gradient-diagonal2);
}
.content-header h1 { }

.content-header a {
    color: var(--text-color);
}

main {
    background: var(--content-color);
    /* border-color: var(--gradient-test); */
    /* border-width: 30px; */
}

main :is(h1, h2, h3) {
    margin-top: 20px;
    text-align: center;
}

.content-actual h1,h2 {
    margin-left: 10px;
}

.content-actual p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.content-actual p:first-of-type::first-letter {
    font-size      : var(--dropcap-size);
    float          : left;
    line-height : 200%;
}

.content-actual blockquote {
    margin-left: 5%;
    margin-right: 5%;
}

blockquote {
    text-align: center;
    font-family: georgia;

}

main article div.highlight {
    font-family: Monospace;
    background: var(--content-header-color);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: calc(3*var(--margin));
    margin-right: calc(3*var(--margin));
}


.footnote p:first-of-type::first-letter {
    font-size: 100%;
    float: none;
    line-height: 100%;
}

.tags {
    padding-bottom: 10px;
}
