.content-meta {
    text-align          : center;
    margin              : 5px;
}

.content-header {
    background: var(--content-color);
}
.content-header h1 { border-bottom: 5px solid var(--heading-border-color); }

.content-header a {
    color: var(--text-color);
}

main {
    background: var(--content-color);
    border-color: var(--gradient-test);
    border-width: 30px;
}

main :is(h1, h2, h3) {
    text-align: center;
    margin-left: 20px;
    margin-right: var(--right-margin);
}

.content-actual h1,h2 {
    margin-left: 10px;
}

.content-actual p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.content-actual p:first-of-type::first-letter {
    font-size      : var(--dropcap-size);
    float          : left;
    line-height : 200%;
}

.content-actual blockquote {
    margin-left: 5%;
    margin-right: 5%;
}
