# Symlink this into ~/.ssh/config
Host *
IgnoreUnknown UseKeychain

Host github.com
UseKeychain yes
AddKeysToAgent yes
IdentityFile $HOME/.config/secrets/github/github_ssh

# For Unicode over ssh:
# planetcjd.co.yk/blog/read/fixing-cygwin-unicode-issues
# use SenEnd LANG LC_*
# and check `locale` is correct
