.break {
    page-break-after: always;
    }
.centered {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.right {
    text-align: right;
    }

/* Centered quote, as a box to allow */
/* child text-aligning */
.quote {
    display: table;
    box-sizing: content-box;
    margin: 1em auto;
    width: fit-content;
    }
.pic {
    display: block;
    font-family: serif;
    font-size: 1em;
    line-height: 133%;
    text-indent: 0;
    margin: 12pt 0 6pt;
    padding: 0;
    }
