/* Larger Letter at start of chapter, using a span: */
.dropcaps {
    float: left;
    font-size: 80px;
    font-weight: bold;
    line-height: 70px;
    margin-right: 0.09em;
    margin-top: -0.09em;
    padding-top: 1px
    }

/* A Div class for footnotes, */
/* connect with <a>'s */
.footnote {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    font-size: 0.75em;
    margin-top: 2em
    }
.footnote1 {
    display: block;
    text-align: justify;
    margin: 0.3em 0 0.3em 2em
    }
.footnote2 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 0.3em 0 0.3em 2em
    }

.a {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.6;
    text-align: center;
    text-indent: 0;
    margin: 0 0 16px;
    padding: 0
    }
.ach {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 18px;
    padding: 0
    }
.acl {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 9px;
    padding: 0
    }
.b {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1.41667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 20px 14px;
    padding: 0
    }
.b-fm {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1.125em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 23px;
    padding: 0
    }
.biblio {
    -epub-ruby-position: over;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.333;
    text-align: justify;
    text-indent: -8px;
    margin: 0;
    padding: 0 0 0 8px
    }
.bmtx {
    -epub-ruby-position: over;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.333;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 14px;
    padding: 0
    }
.bmtx-x {
    -epub-ruby-position: over;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.333;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 18px;
    padding: 0
    }
.bold-italic {
    font-style: italic;
    font-weight: bold
    }
.c {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.333;
    text-align: center;
    text-indent: 0;
    margin: 1.5em 0 0.5em;
    padding: 0
    }
.c-aft-b {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.333;
    text-align: center;
    text-indent: 0;
    margin: 0 0 16px;
    padding: 0
    }
.calibre {
    -epub-hyphens: auto;
    -webkit-hyphens: auto;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1em;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    margin: 0;
    padding: 0
    }
.calibre2 {
    line-height: 1.2
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    line-height: 1.2
    }
.co-scaps {
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal
    }
.cobn {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.333;
    text-align: center;
    text-indent: 0;
    margin: 0 24px 8px;
    padding: 0
    }
.cocn-ct {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.391;
    text-align: justify;
    text-indent: -13px;
    margin: 0;
    padding: 0 0 0 14px
    }
.cocn-ct-x {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.391;
    text-align: justify;
    text-indent: -13px;
    margin: 0 0 18px;
    padding: 0 0 0 14px
    }
.copn {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.231;
    text-align: center;
    text-indent: 0;
    margin: 0 0 16px;
    padding: 0
    }
.cr {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.444;
    text-align: center;
    text-indent: 0;
    margin: 0 0 9px;
    padding: 0
    }
.cr1 {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.444;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.ded {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.524;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.drop-cap-co {
    font-size: 2em;
    line-height: 1.2
    }


.endnote-reference {
    font-size: 0.58333em;
    vertical-align: super
    }
.fm-bm-ornament {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 86px;
    padding: 0
    }
.frame {
    height: auto;
    width: 100%
    }
.frame1 {
    height: auto;
    width: 5%
    }
.frame2 {
    height: auto;
    width: 6%
    }
.frame3 {
    height: auto;
    width: 71%
    }
.img {
    -epub-ruby-position: over;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    margin: 0;
    padding: 0
    }
.index {
    -epub-ruby-position: over;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.216;
    text-align: left;
    text-indent: -18px;
    margin: 0;
    padding: 0 0 0 18px
    }
.index1 {
    -epub-ruby-position: over;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.216;
    text-align: left;
    text-indent: -18px;
    margin: 0 0 9px;
    padding: 0 0 0 18px
    }
.italic {
    font-style: italic;
    line-height: 1.2
    }
.italic1 {
    font-style: italic
    }
.list {
    -epub-ruby-position: over;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.333;
    text-align: left;
    text-indent: 0;
    margin: 0 18px;
    padding: 0
    }
.list-x {
    -epub-ruby-position: over;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.333;
    text-align: left;
    text-indent: 0;
    margin: 0 18px 14px;
    padding: 0
    }
.note-head {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.778;
    text-align: center;
    text-indent: 0;
    margin: 0 0 8px;
    padding: 0
    }
.notes {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.333;
    text-align: left;
    text-indent: -21px;
    margin: 0;
    padding: 0 0 0 21px
    }
.pn {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1.41667em;
    font-style: normal;
    font-weight: normal;
    line-height: 2.118;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.pt {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1.66667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.sc {
    font-size: 0.75em
    }
.toc-fm {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.391;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 14px;
    padding: 0
    }
.toc-orna {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 23px;
    padding: 0
    }
.toc-sc {
    font-size: 1em
    }
.tx {
    -epub-ruby-position: over;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.28;
    text-align: justify;
    text-indent: 18px;
    margin: 0;
    padding: 0
    }
.tx-co {
    -epub-ruby-position: over;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.28;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.pcalibre:link {
    text-decoration: none
    }
.pcalibre2:visited {
    text-decoration: none
    }
.pcalibre1:hover {
    text-decoration: none
    }
